.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width:100%;
    background: rgba(0, 0, 0, 0.5); /* Optional background overlay */
    color: white;
    z-index: 10;
  }
  
  .newsletter-container h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
  }
  
  .newsletter-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter-form input[type='email'] {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
  
  .newsletter-form button[type='submit'] {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    background-color: #C80036;
    border-radius: 5px;
  }
  
  .newsletter-form button[type='submit']:hover {
    background-color: #e65c00;
  }
  
  @media (max-width: 768px) {
    .newsletter-container {
      height: auto;
      padding: 10px;
      margin-top: 20%;
    }
  
    .newsletter-container h2 {
      font-size: 30px;
    }
  
    .newsletter-form {
      width: 100%;
    }
  
    .newsletter-form input[type='email'],
    .newsletter-form button[type='submit'] {
      width: calc(100% - 20px);
    }
  }
  