.location-card {
    height: 360px;
    width: 330px;
    margin: 10px;
    border: 1px dashed black;
    position: relative;
}

.location-image {
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 210px;
    cursor: pointer;
}

.location {
    padding: 8px 20px;
}

.from {
    position: absolute;
    right: 20px;
    bottom: 20px;
}