.location-card{
    height: 370px;
    width: 330px;
    margin: 10px;
    box-shadow: 1px 1px 2px gray;
    position: relative;
}

.location-image{
    width: 330px;
    cursor: pointer;
}

.location{
    padding: 7px 20px;
}