.header-1 {
    text-align: center;
    background: url('./images/header-flight-img.jpg') no-repeat center center;
    background-size: cover;
    padding: 120px 40px;
    color: white;
    width: auto;
    height: 450px;
  }

.offer-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading{
    text-align: center;
    font-size: 40px;
}

.review-avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }

@media (max-width: 992px )  {
    .heading{
        font-size: 35px;
    }
}

@media (max-width: 768px)  {
    .heading{
        font-size: 30px;
    }
}

@media (max-width: 567)  {
    .heading{
        font-size: 25px;
    }
}
.location-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.destination-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}