.background-image {
    background-image: url('./images/header-flight-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.offer-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading{
    text-align: center;
    font-size: 40px;
}

.review-avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }

@media (max-width: 992px )  {
    .heading{
        font-size: 35px;
    }
}

@media (max-width: 768px)  {
    .heading{
        font-size: 30px;
    }
}

@media (max-width: 567)  {
    .heading{
        font-size: 25px;
    }
}
.location-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.destination-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}