.dest-card{
    height: 570px ;
    width: 300px;
    box-shadow: 2px 2px 5px gray;
    padding-bottom: 20px;
    
}

.destination-img{
    height: 450px;
    width: 300px;
}

.destination{
    margin: 15px;
}
