.search-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh; /* Full viewport height */
  }
  
  .search-card-text {
    margin: 100px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 10; /* Ensure it stays on top */
  }
  
  .search-card-text h3 {
    font-size: 40px;
    margin: 0;
  }
  
  .search-card-text p {
    font-size: 30px;
    margin: 10px 0 0;
  }
  
  .search-bar {
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 10; 
  }
  
  .search-bar label {
    background-color: #fff;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .search-bar .to-input-label {
    margin-left: 10px;
  }
  
  .search-bar .date-input-label {
    margin-left: 10px;
  }
  
  .search-bar .members-input-label {
    margin-left: 10px;
  }
  
  .search-bar input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    flex: 1;
  }
  
  .search-bar .search-btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
    width: 20%;
    flex-shrink: 0; 
    background-color: #C80036;
    border-radius: 5px;
}

  
  .search-bar .search-btn:hover {
    background-color: #e65c00;
  }
  
  @media (max-width: 768px) {
    .search-card-container {
      height: auto;
      padding: 10px;
    }
  
    .search-bar {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  
    .search-bar input,
    .search-bar .search-btn {
      margin: 5px 0;
      width: calc(100% - 20px);
    }
  }
  